body{
	font-family: 'Montserrat', Arial, sans-serif;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

.button{
	font-family: Montserrat;
	font-size: 16px;

	text-decoration: none;
	color: #fff;
	background: #D89999;
	border-radius: 40px;

	padding: 30px 15px;
    max-width: 255px;
    width: 100%;
    text-align: center;
}

.button:hover,
.button:focus{
	background: #AE7C78;
}

.socials__list{
	list-style: none;
	display: flex;
	align-items: center;
    justify-content: space-between;
    width: 100px;
}

/*.visualy-hidden{
	visibility: hidden;
	margin: 0;
    position: absolute;}*/

/*Header Section*/
.header{
 	margin-top: 26px;
 	border-top: 1px solid #AE7C78;
 	border-bottom: 1px solid #AE7C78;
}
.header a{
	text-decoration: none;
	color: #AE7C78;
}

.header__navigation-list{
	list-style: none;
	padding: 0;

	display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation-list a:hover{
	color: #D89999;
}

/*Main Section*/
.main-section{
	padding-top: 80px;
	padding-bottom: 48px;
}

.main-section__column h1{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 59px;

	color: #AE7C78;
}

.main-section__column p{
	font-size: 24px;
	line-height: 29px;

	color: #AE7C78;
}

.main-section__column{
	/*display: flex;*/
}

.main-section__column-text{
	/*display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-basis: 384px;*/
}

.main-section__column-img{
	/*display: flex;
	flex-direction: row;*/
}

/*Advanteges Section*/
.advanteges-section{
	margin-bottom: 80px;
}

.advanteges__flex-box{
	display: flex;
	
}

.advanteges__row{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex-basis: 33.33%;
	flex-grow: 0;
}

.advanteges__row h3{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #AE7C78;
}

.advanteges__row p{
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;

	color: #AE7C78;
}

/*Popular Section*/
.popular-section{
	margin-bottom: 85px;
}
.popular-section h2{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;

	letter-spacing: 0.02em;

	color: #AE7C78;
}
.popular-section__slider{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.popular-section__row{
	display: flex;
	justify-content: space-evenly;
    align-items: flex-start;
}
.popular-section__column{
	display: flex;
    flex-direction: column;
    align-items: flex-start; 
    flex-basis: 387px;
}

.popular-section__column h3{
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

	color: #AE7C78;
}
.popular-section__column p{
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;

	color: #AE7C78;
}

.popular-section__column span{
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}
.popular-section__slider-arrows a{
	padding-left: 10px;
	padding-right: 10px;
}

/*Catalog Section*/
.catalog-section{
	margin-bottom: 64px;
}
.catalog__row{
	display: flex;
    justify-content: space-between;
}

.catalog__column{
    text-align: center;
    position: relative;
}
.catalog__column a:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #AE7C78;
	opacity: 60%;
	z-index: 1;
	border-radius: 10px;
}
.catalog__column img{
	display: block;
}
.catalog-info {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 5;
    width: 100%;
}
.catalog-info h3{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;

	text-align: center;
	letter-spacing: 0.02em;

	color: #FFFFFF;

	margin-bottom: 8px;
}

.catalog-info p{
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;

	color: #FFFFFF;
}

/*Sale Section*/
.sale-section{
	background-color: #AE7C78;
	color: #fff;

	margin-bottom: 80px;
}

.sale__flex-box{
	display: flex;
}

.sale__flex-box-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sale__flex-box-text h2{
	font-family: Playfair Display;
	font-weight: normal;
	font-size: 44px;
	line-height: 59px;
	letter-spacing: 0.02em;
}

.sale__flex-box-text p{
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
}

/*Order Step*/
.order-step{
	margin-bottom: 80px;
}
.order-step h2{
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;

	letter-spacing: 0.02em;

	color: #AE7C78;
}

.order-step__flex-box{
	display: flex;

}

.order-step__column{
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.order-step__column h3{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #AE7C78;
}
.order-step__column p{
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;


	color: #AE7C78;
}

/*News Section*/
.news-section{

}

.news-section__flex-box{}
.news-section__flex-box h2{
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;

	color: #AE7C78;
}

.news-section__flex-box p{
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;

	color: #AE7C78;
}

/*Feedback Section*/
.border-box{
	border: 1px solid #AE7C78;
}
.feedback{}
.feedback-section h2{
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;


	text-align: center;
	letter-spacing: 0.02em;

	color: #AE7C78;
}
.feedback__row{
	display: flex;
}
.feedback__column{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.feedback__column__comment{
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	color: #AE7C78;
}
.feedback__column__name{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #AE7C78;
}

/*Footer Section*/
.footer{
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #AE7C78;
}
.footer img{
	background-color: #fff;
}

.footer__navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__navigation-list{
	font-size: 16px;
	line-height: 20px;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	justify-content: space-between;
    flex-basis: 660px;

}

.footer__navigation-list a{
	color: #fff;
	text-decoration: none;
}